#highscores {
  padding-top: 210px;
  text-align: center;
  /* background-color: #081127; */
  color: #ec8916;
  height: 150vw;
}

/* #EC8916 */

/* form {
  padding-top: 20px;
} */

/* Below will actually change to be a table */

/* .rank {
  margin-left: 25vw;
  display: inline;
}

.userName {
  margin-left: 50vw;
  display: inline;
}

.userScore {
  margin-right: 75vw;
  display: inline;
} */
