.game-page {
    width: 100%;
    height: 85vh;
    position: absolute;
    top: 15vh;
    background: #081127;
}
.question-section {
    width: 100%;
    height: 100%;
}
.in-game-scoreboard {
    width: 100%;
    height: 22%;
    /* border: solid 1px green; */
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.in-game-user-score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: solid 1px orange; */
    margin-right: 20px;
    height: 60%;
    width: 15%;
    font-size: 0.8rem;
    letter-spacing: 1px;
}
.in-game-user-score h2 {
    height: 50%;
    width: 100%;
    background: rgba(255, 166, 0, 0.863);
    text-align: center;
}
.in-game-user-score h3 {
    height: 50%;
    width: 100%;
    background: rgba(255, 255, 255, 0.822);
    text-align: center;
}